body{
    background: rgba(233, 103, 17, 0.26);
    margin:1% 4%;
}

header{
    background: rgb(233, 103, 17);
    text-align: center;
    padding: 1%;
}

header, footer{
    background: linear-gradient(rgb(233, 103, 17) 0%, rgba(148, 91, 53, 0.473));
    border-radius: 5px;
}


nav{
    font-variant: small-caps;
    font-size: 110%;
    font-family: Arial, 'Times New Roman', serif;
}

nav a{
    display: inline-block;
    width: 22%;
    background-color: rgb(226, 226, 226);
}

.half{
    width: 45%;
    display: inline-block;
    float: left;
    margin-right: 2%;
}

.whole{
    clear:both
}

details{
    font-style: italic;
}

summary{
    font-style: normal;
}

footer{
    clear: both;
}


h1{
    color:azure;
    -webkit-text-stroke: 1px black;
    font-variant: small-caps;
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
}

h2 {
    color: azure;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.719);
    background: rgba(233, 103, 17, 0.911);
    font-family: 'Courier New', Courier, monospace;
}

a{
    color: rgba(0, 0, 0, 0.767);
}

img{
    width: 5vh;
}
